.all-content{
    margin:2rem 8rem 2rem 8rem;
    border:3px solid rgb(17, 17, 41);
    
    align-items:center;
}
.heading{
    background-color: blueviolet;
    color:white;
    text-align: center;
    
}
.addbtn{
    padding-left: 1rem;
}
.delete{
    background-color: red;
    color:white;
    border-radius: 10%;
    border:2px solid white;
    height: 2.5rem;
    width:4rem;
    
}
